*{
    margin: 0px;
    padding: 0px;
}
:root{
    --backgroundColor:#f6f6f6;
    --darkBlue:#0d0f2e;
}
body{
    background-color: var(--backgroundColor);
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* bootstrap classes override*/
.card{
    outline: none!important;
    border: none;
    background-color: transparent;
}
.card img{
    border-radius: 0!important;
}
/* classes */

.bgDarkBlue{
    background-color: var(--darkBlue);
}
.mappin-mark{
    width: 3%;
    display: block;
    margin: 0px auto;
}
.container-60{
    width: 60%;
}
.scale1{
    transform: scale(1.02);
    transition: 400ms all;
    box-shadow: 0px 0px 10px #d6d6d6;
}
.mySale{
    position: relative;
}
.mySale img{
    width: 95%;
    left: 2.5%;
}
.mySaleText{
    margin-top: 300px;
    border-bottom: 1px solid #000;
}
input, select{
    width: 70%;
    padding: 10px 10px;
    border: 1px solid var(--darkBlue);
}
input [type=radio]{
    font-size: 10px;
}
label{
    font-size: 20px;
    color: var(--darkBlue);
}
.required::after{
    content: "*";
    color: #c41204;
}
#rbFemale, #rbMale{
    width: 10%!important;
    padding: 0px!important;
    accent-color: var(--darkBlue);
}
.rbLabel{
    width: 10%;
}
#submit{
    width: 20%;
    padding: 7px 0px;
    color: var(--darkBlue);
    border: 1px solid var(--darkBlue);
    margin-left: 40%;
}
.regExDanger{
    width: 70%;
}
.submitDanger{
    margin-left: 30%!important;
}

#backToTop{
    cursor: pointer;
}
footer a{
    color: var(--darkBlue);
}
#footerSocials li{
    display: inline;
}
#footerLogo{
    width: 30%;
    margin: 0px auto!important;
    display: block;
}
#author{
    width: 50%;
}
.opacityAnimation{
    animation: opac 1.7s ease;
}
#preloader{
    position: fixed;
     z-index: 100;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: 500ms all;
    align-items: center;
}
#preloader img{
    width: 100px;
    margin: 0px auto;
}